.main__connect{
max-width: 330px;
}
.main__title{
    font-family: var(--font-family);
font-weight: 500;
font-size: 21px;
color: #000;
}
.main__text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 13px;
color: #515151;
padding-top: 32px;
}
.main__block{
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 91px;
}
.main__btn{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #fff;
background-color: #dc7000;
padding: 13px 45px 13px 43px;
margin-top: 40px;
}
.main__btn:hover{
    background-color: aqua;
    color: #000;
}
@media screen and (min-width:992px) {
    .main__block{
        max-width: 1170px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        gap: 140px;
    }
}